 
body {
  background-color: #f1f4f5;
  margin: 0;
  padding: 0;
}

header {
  height: 85px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form  {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px !important;
  height: 100vh;
  border-radius: 15px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.appt-form {
  display: inline-block;
  width: 100%;
  display: flex;
	justify-content: center;
	align-items: center;
}
 
.ui.card {
  width: 400px !important;
}

.menu {
  list-style: none;
  margin: 0; 
  
  background: #2c3e50;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.menu a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  font-weight: 600;
}

.menu a:hover {
  background: #3498db;
  color: #ffffff;
}

@media all and (max-width: 799px) {
  .menu {
    justify-content: space-around;
  }
}

@media all and (max-width: 599px) {
  .menu {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .menu a { 
    text-align: center; 
    padding: 12px;
    border-top: 1px solid #00000030; 
    border-bottom: 1px solid #00000010; 
  }
  
  .menu li:last-of-type a {
    border-bottom: none;
  }
}
